@model SPOInvoiceWeb.ViewModels.CompanyListViewModel

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create new","Create")
<h2>List of companies</h2>
<table class="table">
    <tr>
        <th>Orgno</th>
        <th>Namn</th>
        <th></th>
    </tr>
    @foreach(var company in Model.Companies)
    {
    <tr>
        <td>@company.OrgNo</td>
        <td>@company.Name</td>
        <td>@Html.ActionLink("Edit company", "Edit", new { Id = company.Id })</td>
        <td>
            @Html.ActionLink(
            "Delete company",
            "Delete",
            new { id = company.Id },
            new { onclick = "return confirm('Are you sure you wish to delete this company?');",
            style = "font-weight: bold"
            })
            </td>
        
    </tr>
    }
</table>

